@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

#root {
  background: linear-gradient(147.52deg, #F9FAFB 8.89%, #D2D6DB 100.48%);
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
}

.cropper-view-box {
  border-radius: 100%;
  outline: none;
}

.cropper-line,
.cropper-face {
  background-color: rgba(0, 0, 0, 0);
}

.cropper-point {
  background-color: white;
}

.cropper-point.point-e,
.cropper-point.point-w,
.cropper-point.point-s,
.cropper-point.point-n {
  display: none;
}

.cropper-point.point-ne,
.cropper-point.point-nw,
.cropper-point.point-se,
.cropper-point.point-sw {
  width: 10px;
  height: 10px;
}